@font-face {
    font-family: comf;
    src: url('../fonts/Comfortaa_Regular.ttf');
}

body {
	color: white;
	background: black;
	font-family: comf;
}

#intro {
	display: block;
}

#dashboard {
	display: none;
}

.nav-tabs {
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
	background: none;
	border: none;
	color: #555;
	padding: 15px 15px;
	display: block;
	position: relative;
	margin-right: 2px;
	border-radius: 0;
}

.nav-tabs>li>a {
	border: none;
	padding: 15px 15px;
	display: block;
	position: relative;
	margin-right: 2px;
	border-radius: 0;
	color: #FFCC00;
}
.nav-tabs>li>a>span {
	margin-right: 10px;
}

a {
	color: #FFCC00;
}

h1, h2 {
	color: #FFCC00;
}

.btn-info {
	background: #FFCC00;
	border: none;
	color: white;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
	background: #EE9900;
	border: none;
	color: white;
}

#prev-week {
	float: left;
}

#next-week {
	float: right;
}

.arrow-buttons {
	margin-top: 20px;
	clear: both;
}

.logo-small {
	margin-top: -10px;
}

.btn-success {
	background-color: #71C837;
}


.btn-warn {
	background-color: #C83737;
	color: white;
}

.btn-warn:hover, .btn-warn:active, .btn-info:focus {
	background-color: #C13030;
	color: white;
}

.jumbotron {
	padding-top: 89px;
	background: #333333;
}

.form-control {
	margin-top: 10px;
}

.calendar {
	width: 100%;
	table-layout:fixed;
	margin-top: 10px;
}

.calendar th {
	text-align: center;
}

.cal-row {
	height: 0.7em;
	font-size: 0.7em;
	border-bottom: 1px white solid;
}

.modal {
	color: black;
}

.cal-filler {
	border-right: 1px white dotted;
}

.cal-filler.selected, .cal-filler.perm-selected {
	background-color: #71C837;
}

.cal-filler.no-go {
	background-color: #C13030;
}

.marker {
	display: none;
	position: absolute;
	top:0; left:0;
	color: black;
	padding: 10px;
	width: 150px;
	height: 40px;
	background: white;
	display: block;
	z-index: 200;
	font-weight: bold;
}

#users {
	margin-top: 20px;
}