body {
	color: white;
	background: black;
}

.nav-tabs {
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
	background: none;
	border: none;
	color: #555;
	padding: 15px 15px;
	display: block;
	position: relative;
	margin-right: 2px;
	border-radius: 0;
}

.nav-tabs>li>a {
	border: none;
	padding: 15px 15px;
	display: block;
	position: relative;
	margin-right: 2px;
	border-radius: 0;
	color: #FFCC00;
}

a {
	color: #FFCC00;
}

.logo-small {
	margin-top: -10px;
}

.btn-success {
	background-color: #71C837;
}


.btn-warn {
	background-color: #C83737;
	color: white;
}

.btn-warn:hover {
	background-color: #C13030;
	color: white;
}

.jumbotron {
	padding-top: 89px;
	background: #333333;
}

.form-control {
	margin-top: 10px;
}

.calendar {
	width: 100%;
}

.cal-row {
	height: 0.7em;
	font-size: 0.7em;
	border-bottom: 1px white solid;
}

.cal-filler.selected, .cal-filler.perm-selected {
	background-color: #71C837;
}

.cal-filler.no-go {
	background-color: #C13030;
}